*{
  border:0;
  margin: 0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-snap-type: y mandatory;
}



.app{
  height: 100vh;
  background-color: rgb(34, 31, 31);
  display: grid;
  place-items: center;
}


.app_videos{
  width:80%;
  max-width: 500px;
  position: relative;
  height: 880px;
  border-radius: 20px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

}

.app_videos::-webkit-scrollbar{
  display: none;
}

